@{
    ViewBag.Title = "About Web Site & Software Developed in Muzaffarnagar";
    ViewBag.Description = "Web Site Developed in Muzaffarnagar,Software Development in Muzaffarnagar, Developed Web Site in low price, hourly rates charges Price:  $2, Category: Website";
    ViewBag.Keywords = "Web Site & Software developer in muzaffarnagar";
}


<h1>Web Site & Software developer Information</h1>
<center>
    <br />
    <img src="~/files/yogendra.jpg" alt="Owner photo" width="200" height="200" asp-append-version="true" />
    <h2>I am Yogendra Kumar.</h2>
    <h3>I have ten years’ experience in web & Windows Applications.</h3>
    <h4>I have done M.Sc in Computer Science 2009.</h4>
    <h5>I am Web & Software developer.</h5>
    <h6>I am using latest technology.</h6>
    
</center>
